<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Guide to the Web Interface</py:def>

  <div py:match="content">
    <p>
      This page provides a guide to the features of the Open Milton web
      interface.
    </p>
    <h2>
      The Index
    </h2>
    <p>
      The <a href="/">index page</a> contains a list of all of the
      material on the system.
    </p>
    <h2>
      Viewing Works
    </h2>
    <p>
      You can view works by clicking on the link available from the index page.
      If you know the 'id' of a text you can view it directly by visiting the
			url: /view?name={id} (you can work out id names by looking at the link
			urls on the index page).
    </p>
    
    <h3>Viewing in different formats</h3>
    <p>
      You can view a given text in a different format by setting the format
      argument in the url query string like so:
      /view?name={id}&amp;format={format_name} So to view the raw Poemata text with line
      numbers visit: <a
        href="/view?name=poemata_gut&amp;format=raw">/view?name=poemata_gut&amp;format=raw</a> Available formats are:
    </p>
    <ul>
      <li>format=plain - plain version of the file (default)</li>
      <li>format=raw - raw file returned as text/plain</li>
    </ul> 


    <h2>
      Concordance
    </h2>
    <p>
      The <a href="/concordance/">concordance page</a> provides a concordance of
      Milton's work along with some associated statistics on word
      occurences.
    </p>

    <h2>Comments</h2>
    <p>
      If you wish to comment on this guide (or help improve it!) please visit
      <a href="http://www.openshakespeare.org/">http://www.openshakespeare.org</a>
    </p>
  </div>

  <xi:include href="layout.html" />
</html>
