<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  py:strip=""
  >

  <py:def function="page_title">User - Login</py:def>

  <py:def function="page_specific_css">
    <!-- Simple OpenID Selector -->
    <link rel="stylesheet" href="http://assets.okfn.org/ext/openid-selector/css/openid.css" />
    <script type="text/javascript" src="http://assets.okfn.org/ext/openid-selector/js/openid-jquery.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
          openid.init('openid_identifier');
      });
    </script>
  </py:def>

  <div py:match="content">
    <h2>Login using Open ID</h2>

    <!-- Simple OpenID Selector -->
    <form action="FORM_ACTION" method="post" id="openid_form">
      <input type="hidden" name="action" value="verify" />
      <fieldset>
        <legend i18n:msg="site_title">Please click your account provider</legend>
        <div id="openid_choice">
          <div id="openid_btns"></div>
        </div>
        <div id="openid_input_area">
          <input id="openid_identifier" name="openid_identifier" size="30" type="text" value="http://" />
          <input id="openid_submit" type="submit" value="Log in &raquo;"/>
        </div>
        <noscript>
          <p i18n:msg="">OpenID is service that allows you to log-on to many different websites using a single identity.
    Find out <a href="http://openid.net/what/">more about OpenID</a> and <a href="http://openid.net/get/">how to get an OpenID enabled account</a>.</p>
        </noscript>
      </fieldset>
    </form>

    <h3>Don't have an OpenID?</h3>
    <p i18n:msg="">
      OpenID is service that allows you to log-on to many different websites
      using a single identity. Find out <a href="http://openid.net/what/">more
      about OpenID</a> and <a href="http://openid.net/get/">how to get an
      OpenID enabled account</a>. Probably the simplest way is sign up with a
      free OpenID provider such as <a 
      href="https://www.myopenid.com/">https://www.myopenid.com/</a>.
    </p>
  </div>
  <xi:include href="../layout.html" />
</html>
