<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">User Account - ${c.read_user.name}</py:def>

  <div py:match="content">
    <py:if test="not c.is_myself">
    <h2>User - ${c.read_user.name}</h2>
    </py:if>
    <py:if test="c.is_myself">
      <h2>Welcome ${c.user.name}</h2>

      <p>Your API Key is (private): ${c.user.api_key}</p>
      <p>Email (private): ${c.user.email}</p>
    </py:if>

    <p>Username: ${c.user.username}</p>
    <p>Open ID: ${c.user.openid}</p>
    <p>Full Name: ${c.user.fullname}</p>

    <div class="user-about">
      ${h.markdown(c.user.about)}
    </div>
  </div>

  <xi:include href="../layout.html" />
</html>
