<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">User Account - ${c.read_user.name}</py:def>

  <div py:match="content">
    <h2>User - ${c.read_user.name}</h2>
    <py:if test="c.is_myself">
      <h3>Your Account</h3>
      <p>You are logged in. <a href="${h.url_for('/logout_openid')}">Log out</a></p>

      <p>Your API Key is: ${c.read_user.api_key}</p>
    </py:if>

    <div class="user-about">
      ${h.markdown(c.user.about)}
    </div>
  </div>

  <xi:include href="../layout.html" />
</html>
