<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  
  <py:def function="page_title">Texts - Index</py:def>

  <div py:match="content">
    <h2>Texts Available</h2>
    <table border="1">
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>Author</th>
        <th>Other Information</th>
      </tr>
    </thead>
    <tbody>
    <div xmlns:dc="http://purl.org/dc/elements/1.1/">
      <tr py:for="item in c.works_index">
        <td property="dc:title">
          <a href="${h.url_for(controller='text', action='info', id=item.name)}">
            ${item.title}</a>
          (<a href="${h.url_for(controller='text', action='view', id=item.name,
            format='lineno')}">view</a>)
        </td>
        <td property="dc:creator">
          ${item.creator}
        </td>
        <td property="dc:source">
          <a href="${h.url_for(controller='stats', action='text',
            id=item.name)}">
            Text statistics</a>
        </td>
      </tr>
    </div>
    </tbody>
    </table>
  </div>

  <xi:include href="../layout.html" />
</html>
