<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  <py:def function="page_title">Text - Info - ${c.material.ftitle}</py:def>

  <div py:match="content" xmlns:dc="http://purl.org/dc/elements/1.1/">
    <h2 property="dc:title">${c.material.title}</h2>
    <h3>Actions</h3>
    <ul>
      <li><a href="${h.url_for(controller='text', action='view',
        id=c.material.name)}">Read Text</a>
      </li>
      <li>
        <a href="${h.url_for(controller='stats', action='text',
          id=c.material.name)}">
          View Statistics</a>
      </li>
    </ul>

    <h3>Metadata</h3>
    <ul>
      <li py:for="attrn in ['creator', 'name', 'notes']">
        <strong>${attrn.capitalize()}:</strong>
        ${getattr(c.material, attrn)}
      </li>
    </ul>
  </div>

  <xi:include href="../layout.html" />
</html>
