<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  
  <py:def function="page_title">View Texts</py:def>

  <div py:match="content">
    <div xmlns:dc="http://purl.org/dc/elements/1.1/">
      <h2 property="dc:title">${c.title}</h2>
			<h3>Introduction</h3>
			<div class="work-introduction" style="margin-bottom: 50px;">
				${h.markdown(c.work.notes or '')}
			</div>
			${c.texthtml}
    </div>
  </div>

  <xi:include href="../layout.html" />
</html>
