/**
  * Mods to basic 'kforge' theme
  */

/* change background */
body {
}

/* get rid of color so background comes through */
#navigation li a,
#navigation li a:link,
#navigation li a:visited,
.box .rtop, .box .rbottom,
#footer
{
}

#top { margin-top: 0.4em; }
/* mess with standard ckan theme to remove second submenu for time being */
#subnav { background: transparent; height: 1px; }
#subnav * { display: none; }
#primary { margin-top: 1.2em; }

/**
  * Wordpress twentyten compatibility
  */

body {
  font-family: Georgia, 'Bitstream Charter', serif;
}

.widget-area ul {
  list-style: none;
}

h2, h3.widget-title h3, h2.entry-title {
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-weight: bold;
}

#content .entry-title, h2 {
  font-size: 25px;
}

div#main {
  padding: 0;
}

#primary .widget-container {
  background: #EEE;
  border-bottom-left-radius: 0.7em 0.7em;
  border-bottom-right-radius: 0.7em 0.7em;
  border-top-left-radius: 0.7em 0.7em;
  border-top-right-radius: 0.7em 0.7em;
  padding: 0.5em 1em 1em;
  padding-top: 0.5em;
}

.widget-container {
  margin: 0px 0px 18px;
}

/**
  * Minor generic additions
  */

#top-bar form.search {
  display: inline;
}
  
#top-bar form.search input.search {
  background: white;
}

form.main-search-form input.search {
  width: 50%;
}

p.error {
  color: red;
  font-weight: bold;
}

blockquote {
  border-left: 5px solid #ccc;
  margin: 15px 30px 0px 10px;
  color: #777;
  padding-left: 20px;
}

table.index {
  background-color: transparent; 
  border: none;
  margin: 0;
}

table.index th {
  text-align: center;
  background-color: transparent;
}

table.index td {
  background: transparent;
  border: none;
  vertical-align: top;
}

table.index p.work-actions {
  font-size: 0.9em;
  margin-left: 1.5em;
}

/**
  * Word of the day
  */

div#word-of-the-day {
  background: transparent url(/img/shkspr/word_of_the_day.png) no-repeat top center;
  height: 150px;
}

div#word-of-the-day p {
  float: left;
  margin-top: 118px;
  margin-right: 100px;
  font-size: 110%;
}


/**
  * HTML transformed from Moby texts
  * these classes get applied in shksprdata/moby_html.xsl
  */

.shkspr-act-title {
  margin-top: 2em;
}

.shkspr-scene-title {
  margin-top: 1.5em;
}

.shkspr-speech-speaker {
}
 
p.shkspr-speech-body {
  margin-left: 1em;
}

.shkspr-stagedir {
  font-style: italic;  
}

.shkspr-stagedir-inline {
  font-style: italic;  
}

