/* remove login info at top-right */
#top-bar { display: none; }
#top { margin-top: 0.4em; }
/* mess with standard ckan theme to remove second submenu for time being */
#subnav { background: transparent; height: 1px; }
#subnav * { display: none; }
#main { margin-top: 0.5em; }
#primary { margin-top: 1.2em; }

p.error {
  color: red;
  font-weight: bold;
}

/**
  * HTML transformed from Moby texts
  * these classes get applied in shksprdata/moby_html.xsl
  */

.shkspr-act-title {
  margin-top: 2em;
}

.shkspr-scene-title {
  margin-top: 1.5em;
}

.shkspr-speech-speaker {
}
 
p.shkspr-speech-body {
  margin-left: 1em;
}

.shkspr-stagedir {
  font-style: italic;  
}

.shkspr-stagedir-inline {
  font-style: italic;  
}
