<?python
layout_params['page_title'] = "Concordance and statistics by Word"
?>
<html py:layout="'layout.html'"
      xmlns:py="http://purl.org/kid/ns#">

	<div py:match="item.tag == 'content'">
		<h2>Word: ${word}</h2>
		<table border="1">
		<thead>
			<tr>
				<th>
					Location	
				</th>
				<th>Snippet</th>
				<th>Link</th>
			</tr>
		</thead>
		<tbody>
			<tr py:for="ref in refs">
				<td>work: ${ref.text.title}, line: ${ref.line}</td>
				<td>
					<pre>${ref.snippet}</pre>
				</td>
				<td>
					<a href="/view?name=${ref.text.name}&amp;format=lineno#${ref.line}">
						source in text
					</a>
				</td>
			</tr>
		</tbody>
		</table>
	</div>
</html>

