<?python
layout_params['page_title'] = "Concordance and statistics"
?>
<html py:layout="'layout.html'"
      xmlns:py="http://purl.org/kid/ns#">

	<div py:match="item.tag == 'content'">
		<p>
			<strong>Click on a word to be taken to a detailed listing of its
				occurrences</strong>
		</p>
		<table border="1">
		<thead>
			<tr>
				<th>
					Word	
				</th>
				<th>Occurrences</th>
			</tr>
		</thead>
		<tbody>
			<tr py:for="word in words">
				<td>
					<a href="word/?word=${word}">${word}</a>
				</td>
				<td py:content="stats.get(word)">-1</td>
			</tr>
		</tbody>
		</table>
	</div>
</html>

