<?python
layout_params['page_title'] = "Index of Shakespeare plays"
?>
<html py:layout="'layout.html'"
      xmlns:py="http://purl.org/kid/ns#">

	<div py:match="item.tag == 'content'">
		<p>
			Below is a list of the material currently available. You might also want to
			look at the <a href="/concordance/">concordance</a> and check out the <a
			href="/guide/">guide</a>.
		</p>
		<table border="1">
		<thead>
			<tr>
				<th>
					Title
				</th>
				<th>Author</th>
				<th>Comments</th>
			</tr>
		</thead>
		<tbody>
			<tr py:for="item in works_index">
				<td>
					<a href="/view?name=${item.name}&amp;format=plain">
						${item.title}</a>
				</td>
				<td>
					${item.creator}
				</td>
				<td py:content="item.notes"></td>
			</tr>
		</tbody>
		</table>
	</div>
</html>
