<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  
  <py:def function="page_title">Search Material</py:def>

  <div py:match="content">
    <h2>
      Search Texts<py:if test="c.query">: ${c.total} matches</py:if>
    </h2>
    <form class="main-search-form" method="GET" action="">
      <input class="search" type="search" name="query" value="${c.query}" placeholder="Search..." results="5" autocomplete="false" />
      <input type="submit" name="submit" value="Search" />
    </form>

    <div class="search-results" py:if="c.query">
      ${c.page.pager(query=c.query)}  

      <ul>
        <li py:for="m in c.results">
        <!-- TODO: do we need this if guard? All search results should have a
        'real' text attribute ... -->
        <py:if test="m.text">${h.link_to(m.text.title, url(controller='text',
        action='view', id=m.text.name))}
        </py:if>
        Line: ${m.lineno}
        <blockquote>
          <pre>${m.snippet}</pre>
        </blockquote>
        </li>
      </ul>

      ${c.page.pager(query=c.query)}
    </div>
  </div>

  <xi:include href="../layout.html" />
</html>
