<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Stats</py:def>

  <div py:match="content">
    <h2>Statistical Information</h2>
    <p>This section provides statistical information about the various textual
    materials available on the site.
    </p>
    <p>
      Currently information is provided organized by:
    </p>
    <ul>
      <li>
        <a href="${h.url_for(controller='stats', action='text',
          id=None)}">Text</a>
      </li>
      <li>
        <a href="${h.url_for(controller='stats', action='word',
          id=None)}">Word</a>
      </li>
    </ul>
  </div>

  <xi:include href="../layout.html" />
</html>
