<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  
  <py:def function="page_title">Stats - Word</py:def>

  <div py:match="content">
    <h2>Statistics for '${c.word}'</h2>
    <div py:if="not c.stats">
      <p>Sorry, no statistics are available for ${c.word}.</p>
      <p>NB: words are stemmed for stats purposes, so loved becomes love, bloody becomes blood etc.</p>
    </div>

    <py:if test="c.stats">
    <img style="float: left;"
      src="${c.img_url}"
      alt="" />

		<table>
    <thead>
      <tr>
        <th>Index</th>
        <th>
          Text
        </th>
        <th>
          Frequency
        </th>
      </tr>
    </thead>
    <tbody>
      <tr py:for="index, stat in enumerate(c.stats)">
        <td>
          ${index + 1}
        </td>
        <td>
          ${stat.text.title}
        </td>
        <td>
          ${stat.freq}
        </td>
      </tr>
    </tbody>
    </table>
    </py:if> <!-- end if for stats existence! -->
  </div>

  <xi:include href="../layout.html" />
</html>
