<html
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">Annotate</py:def>

  <py:def function="page_specific_css">
    <script src="https://github.com/okfn/annotator/raw/v1.0.0beta2/pkg/annotator.min.js"></script>
    <script src="https://github.com/okfn/annotator/raw/v1.0.0beta2/pkg/annotator.auth.min.js"></script>
    <script src="https://github.com/okfn/annotator/raw/v1.0.0beta2/pkg/annotator.markdown.min.js"></script>
    <script src="https://github.com/okfn/annotator/raw/v1.0.0beta2/pkg/annotator.store.min.js"></script>
    <script src="https://github.com/okfn/annotator/raw/v1.0.0beta2/pkg/annotator.tags.min.js"></script>
    <script src="https://github.com/okfn/annotator/raw/v1.0.0beta2/pkg/annotator.user.min.js"></script>
    <link href="https://github.com/okfn/annotator/raw/v1.0.0beta2/pkg/annotator.min.css" type="text/css" rel="stylesheet" />

		<style type="text/css">
			.annot-highlighter {
				background: rgba(48, 184, 103, 0.296875)
			}
			
			.annot-controls a.del {
				display: none;
			}
		</style>
  </py:def>

  <py:def function="primary_sidebar_extras">
      <li class="widget-container instructions">
        <h3 class="widget-title">Annotation: Howto</h3>
        <ol>
          <li>Highlight a section of text, and a small notepad icon will appear</li>
          <li>Click on the notepad, and a dialogue box will come up</li>
          <li>Type your annotation, and then press enter to save it.</li>
					<li>For more information, visit the <a href="${h.url_for('/help')}">help page</a></li>
        </ol>
      </li>
  </py:def>

  <div py:match="content">
    <p py:if="c.error" class="error">${c.error}</p>
    <div id='text-to-annotate'>
    ${c.content}
    </div>
    <script>
      jQuery(function ($) {
        var elem = $('#text-to-annotate');
        var annotator_store = '${c.server_api}' + '/store/annotations';
        var user = '${c.userid}';
        // hack as auth plugin not yet operational
        if(user != '') {
          elem.data('annotator:headers', {'x-annotator-user-id': user});
        }
        // var annotator_store = 'http://annotateit.org/store/annotations';
        var annotator = elem.annotator().data('annotator');
        annotator.addPlugin('User');
        annotator.addPlugin('Store', {
            prefix: annotator_store,
            annotationData: {
              'uri': '${c.uri}',
              'user': user,
              'username': '${c.username}'
            },
            loadFromSearch: {
              'uri': '${c.uri}',
              'all_fields': 1
            }
          });
        // don't seem to be working properly yet
        // annotator.addPlugin('Tags');
        annotator.plugins["User"].setUser(user)
      });
    </script>
	</div>

  <xi:include href="../layout.html" />
</html>
