<html
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">Annotate</py:def>

  <py:def function="page_specific_css">
    <script src="http://github.com/nickstenning/annotator/raw/0.9/pkg/annotator.min.js"></script>
    <link href="http://github.com/nickstenning/annotator/raw/0.9/pkg/annotator.min.css" type="text/css" rel="stylesheet" />
    <script src="http://localhost:5984/_utils/script/jquery.couch.js"></script>
    <script src="/storecouchdb.js"></script>

    <!--
    <script src="/jsannotate-lib/vendor/jquery.pluginfactory.js"></script>
    <script src="/jsannotate-lib/vendor/jquery.sji.js"></script>
    <script src="/jsannotate-lib/vendor/jquery.json.js"></script>
    <script src="/jsannotate-lib/extensions.js"></script>
    <script src="/jsannotate-lib/annotator.js"></script>
    <script src="/jsannotate-lib/annotation_store.js"></script>
    <link rel="stylesheet" type="text/css" href="/jsannotate-lib/annotator.css" />
    -->
		<style type="text/css">
			.annot-highlighter {
				background: rgba(48, 184, 103, 0.296875)
			}
			
			.annot-controls a.del {
				display: none;
			}
		</style>
  </py:def>

  <py:def function="primary_sidebar_extras">
      <li class="widget-container instructions">
        <h3 class="widget-title">Annotation: Howto</h3>
        <ol>
          <li>Highlight a section of text, and a small notepad icon will appear</li>
          <li>Click on the notepad, and a dialogue box will come up</li>
          <li>Type your annotation, and then press enter to save it.</li>
					<li>For more information, visit the <a href="${h.url_for('/help')}">help page</a></li>
        </ol>
      </li>
  </py:def>

  <div py:match="content">
    <p py:if="c.error" class="error">${c.error}</p>
    <div id='text-to-annotate'>
    ${c.content}
    </div>
    <script>
      jQuery(function ($) {
        var annotator_store = '/anno_store';
        $('#text-to-annotate').annotator()
          .annotator('addPlugin', Annotator.Plugins.User)
          .annotator('addPlugin', Annotator.Plugins.StoreCouchdb, {
            prefix: annotator_store,
            annotationData: {
              'uri': '${c.uri}',
              'user': '${c.userid}'
            },
            loadFromSearch: {
              'uri': '${c.uri}'
            }
          });
      });
    </script>
	</div>

  <xi:include href="../layout.html" />
</html>
