<html
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">Annotate</py:def>

  <py:def function="page_specific_css">
    <script src="http://assets.annotateit.org/annotator/v1.0.0rc3/annotator-full.min.js"></script>
    <link href="http://assets.annotateit.org/annotator/v1.0.0rc3/annotator.min.css" type="text/css" rel="stylesheet" />
  </py:def>

  <py:def function="primary_sidebar_extras">
      <li class="widget-container instructions">
        <h3 class="widget-title">Annotation: Howto</h3>
        <ol>
          <li>Highlight a section of text, and a small notepad icon will appear</li>
          <li>Click on the notepad, and a dialogue box will come up</li>
          <li>Type your annotation, and then press enter to save it.</li>
					<li>For more information, visit the <a href="${h.url_for('/help')}">help page</a></li>
        </ol>
      </li>
  </py:def>

  <div py:match="content">
    <p py:if="c.error" class="error">${c.error}</p>
    <div id='text-to-annotate'>
    ${c.content}
    </div>
    <script>
      jQuery(function ($) {
        var elem = $('#text-to-annotate');
        var account_id = '${c.annotator_account}';
        var annotator_store = '${c.server_api}' + '/api';
        var userid = '${c.userid}';
        var options = {};
        options.permissions = {};
        options.permissions.user = {
          'name': '${c.username}'
        };
        if(userid != '') {
          elem.data('annotator:headers', {'x-annotator-user-id': userid});
          options.permissions.user.id = userid;
          options.permissions.permissions = {
            'read': [],
            'update': [userid],
            'delete': [userid],
            'admin': [userid]
          }
        }
        var annotator = elem.annotator().data('annotator');
        annotator.addPlugin('Store', {
            prefix: annotator_store,
            annotationData: {
              'uri': '${c.uri}',
              'account_id': account_id
            },
            loadFromSearch: {
              'uri': '${c.uri}'
            }
          });
        options.permissions.userId = function(user) {
          if (user) {
            return user.id;
          }
        };
        options.permissions.userString = function(user) {
          if (user) {
            return user.name;
          }
        };
        annotator.addPlugin('Permissions', options.permissions);
        annotator.addPlugin('Tags');
        // annotator.addPlugin('Markdown');
      });
    </script>
	</div>

  <xi:include href="../layout.html" />
</html>
