<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  
  <py:def function="page_title">Works - Index</py:def>

  <div py:match="content">
    <h2>Works Available</h2>
    <table class="index">
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>Author</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
    <div xmlns:dc="http://purl.org/dc/elements/1.1/">
      <tr py:for="item in c.works_index">
        <td property="dc:title">
          <a href="${h.url_for(controller='work', action='info', id=item.name)}">
            ${item.title}</a>
          <p class="work-actions">
						<py:if test="item.default_resource">
            <a href="${h.url_for(controller='resource', action='view', id=item.default_resource.id)}">View &raquo;</a>

            <a href=" ${h.url_for(controller='work', action='annotate', id=item.name)}">Annotate &raquo;</a>
						</py:if>
          </p>
        </td>
        <td property="dc:creator">
          ${item.creator}
        </td>
        <td style="width: 60%">
          <py:if test="item.notes">
          ${h.markdown(item.notes[:200] + '...')}
          </py:if>
        </td>
      </tr>
    </div>
    </tbody>
    </table>
  </div>

  <xi:include href="../layout.html" />
</html>
