<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  <py:def function="page_title">Work - Info - ${c.work.title}</py:def>

  <div py:match="content" xmlns:dc="http://purl.org/dc/elements/1.1/">
    <h2 property="dc:title">${c.work.title}</h2>
    <ul>
      <li py:for="attr in ['creator']">
        <strong>${attr.capitalize()}:</strong>
        ${getattr(c.work, attr)}
      </li>
    </ul>
    <h3>Editions</h3>
    <ul>
			<py:for each="material in reversed(c.work.materials)">
			<li py:for="res in material.resources">
			<a href="${h.url_for(controller='our_resource', action='view', id=res.id)}">${material.title} (${res.format})</a>
				&ndash; [<a href="${h.url_for(controller='text', action='info',
          id=material.name)}">metadata</a>]
			</li>
			</py:for>
    </ul>

		<div class="work-introduction">
      ${h.markdown(c.work.notes or '')}
    </div>
  </div>

  <xi:include href="../layout.html" />
</html>
