<html
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">Annotate</py:def>


<py:if test="c.annotator_enabled">
  <py:def function="page_specific_css">
    <script src="http://assets.annotateit.org/annotator/v1.2.2/annotator-full.min.js"></script>
    <link href="http://assets.annotateit.org/annotator/v1.2.2/annotator.min.css" type="text/css" rel="stylesheet" />
  </py:def>

  <py:def function="primary_sidebar_extras">
      <li class="widget-container instructions">
        <h3 class="widget-title">Annotation: Howto</h3>
        <ol>
          <li>Highlight a section of text, and a small notepad icon will appear</li>
          <li>Click on the notepad, and a dialogue box will come up</li>
          <li>Type your annotation, and then press enter to save it.</li>
					<li>For more information, visit the <a href="${h.url_for('/help')}">help page</a></li>
        </ol>
      </li>
  </py:def>
</py:if>

  <div py:match="content">
    <div xmlns:dc="http://purl.org/dc/elements/1.1/">
      <h2 property="dc:title">${c.title}</h2>
			<h3>Introduction</h3>
			<div class="work-introduction" style="margin-bottom: 50px;">
				${h.markdown(c.work.notes or '')}
			</div>
      <div id='text-to-annotate'>
      ${c.content}
      </div>
    </div>

    <py:if test="c.annotator_enabled">
    <script>
      jQuery(function ($) {
        var elem = document.getElementById('text-to-annotate'),
            annotator = new Annotator(elem);

        annotator.setupPlugins({
          storeUrl: "${c.annotator_store}",
          tokenUrl: "/__authtoken__"
        }, {
          Permissions: false,
          AnnotateItPermissions: {}
        });
      });
    </script>
    </py:if>
	</div>

  <xi:include href="../layout.html" />
</html>
