<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en"
      py:strip="">
  
  <py:def function="page_title">About ${c.site_title}</py:def>

  <div py:match="content">
    <h2>About ${c.site_title}</h2>

    <a id="who"></a>
    <p>This project was created by the <a href="http://www.okfn.org">Open Knowledge Foundation</a> with the help of some dedicated volunteers including:
    </p>
    <ul>
      <li>Rufus Pollock</li>
      <li>Iain Emsley</li>
      <li>Jonathan Gray</li>
      <li>Colette Sensier</li>
      <li>Nika Engberg</li>
      <li>Adam Green</li>
      <li>Lottie Fenby</li>
      <li><em><strong>Your name here</strong> &ndash; see below for how to get involved</em></li>
    </ul>

    <h3><a id="getinvolved"></a>Get Involved</h3>
    <p>Anyone can participate in the ${c.site_title} project
    &ndash; including you! For example you could:</p>
    <ul>
      <li>Publicise the project to other communities, such as scholars and
      educators, to whom it would be of benefit.</li>
      <li>Proof-edit and format texts.</li>
      <li>Find related open material related which we can use. For example,
      texts of alternative editions,
      images, etc.</li>
      <li>Develop your own web application or open knowledge package using the
      material and tools ${c.site_title} makes available.</li>
    </ul>
    <p>Just <a href="mailto:info@okfn.org">get in touch</a>
		and we'll find you something to match your interests and availability.
    </p>

    <h3>Comments</h3>
    <p>
    If digging around in old texts isn't for you (and we know
    it isn't for everyone!) we'd still love to hear any
    comments you have. Just drop us a line at <a
      href="mailto:info@okfn.org">info [at] okfn [dot]
      org</a>.
    </p>

    <h3>Donate</h3>
    <p>
    If you're feeling generous, why not make a <a
      href="http://www.okfn.org/support/donate/">small
      donation to help us pay hosting costs</a> (we're a
    not-for-profit and everything we do is provided openly
    and for free).
    </p>

    <h3><a id="license"></a>License</h3>
    <p>All the material produced by the ${c.site_title} project including all the
    content on this site is available under <a
      href="http://www.opendefinition.org/">open licenses</a>. Specifically all
    code is licensed under the <a href="http://www.opensource.org/licenses/mit-license.php">MIT License</a> and all content and data is available under a <a href="http://creativecommons.org/licenses/by/2.5/">CC Attribution License</a>. More details, including some exceptions relating to public domain items, can be found in the <a href="http://knowledgeforge.net/shakespeare/svn/trunk/COPYING.txt">COPYING</a> and <a href="http://knowledgeforge.net/shakespeare/svn/trunk/AUTHORS.txt">AUTHORS</a> files.
    </p>
  </div>

  <xi:include href="layout.html" />
</html>
