<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Concordance and statistics by Word</py:def>

  <div py:match="content">
    <h2>Word: ${word}</h2>
    <table border="1">
    <thead>
      <tr>
        <th>
          Location  
        </th>
        <th>Snippet</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr py:for="ref in c.refs">
        <td>work: ${ref.text.title}, line: ${ref.line}</td>
        <td>
          <pre>${ref.snippet}</pre>
        </td>
        <td>
          <a href="${h.url_for(action='view', name=ref.text.name, format='lineno#%s' % ref.line">
            source in text
          </a>
        </td>
      </tr>
    </tbody>
    </table>
  </div>

  <xi:include href="layout.html" />
</html>
