<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en"
      py:strip="">
  
  <py:def function="page_title">Guide to the Web Interface</py:def>

  <div py:match="content">
    <h2>Guide to the Web Interface</h2>
    <p>
      This page provides a guide to the features of the web interface.
    </p>
    <h3>
      The Index
    </h3>
    <p>
      The <a href="${h.url_for(controller='work', action='index')}">work index
        page</a> contains a list of all of the works on the system and their
      associated 'material' (texts etc).
    </p>

    <h3>Multiviews</h3>
    <p>
      You can view mutiple texts at once by concatenating the name-ids
      separated by '+'. For example to see the Gutenberg folio and non-folio
      Othello side-by-side you would visit: <a
        href="${h.url_for(controller='multi', action='view', id=None, text_1='othello_gut_f', text_2='othello_gut')}">
        ${h.url_for(controller='multi', action='view', id=None, text_1='othello_gut_f', text_2='othello_gut')}
      </a>
    </p>

    <h3>
      Search
    </h3>
    <p>
      See the <a href="${h.url_for(controller='search', action='index')}">search section</a>.
    </p>

    <h3>
      Stats 
    </h3>
    <p>
      See the <a href="${h.url_for(controller='stats', action='index')}">stats section</a>.
    </p>
  </div>

  <xi:include href="layout.html" />
</html>
