<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  
  <py:def function="page_title">Home</py:def>

  <div py:match="content">
    <h2>Welcome to ${c.site_title}</h2>
    <p>
      Welcome to the ${c.site_title} web interface. This site provides access
      to many, but by no means all, of the facilities of the ${c.site_title}
      <a
        href="http://knowledgeforge.net/shakespeare/trac/"><strong>package</strong></a>.
      For example you can:
    </p>
    <ul>
      <li><a href="${h.url_for(controller='text', action=None)}">Read a variety
        of texts (plays, poems etc) as well as ancillary material</a></li>
      <li><a href="${h.url_for(controller='site', action='guide')}">Compare two
        versions of the same text side-by-side</a></li>
      <li><a href="${h.url_for(controller='stats',
        action='index')}">Analyze text or word statistics</a></li>
      <li><a href="${h.url_for(controller='search',
        action='index')}">Search any text</a></li>
    </ul>

    <p>More information about the ${c.site_title} project can be found on the <a
      href="${h.url_for(controller='site', action='about')}">about page</a>.</p>
  </div>

  <xi:include href="layout.html" />
</html>
