<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
                          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en">

  <py:def function="page_title">View Works - Annotate</py:def>
  <head>
  <py:def function="page_specific_css">
    ${marginalia_media}
  </py:def>
  </head>

  <div py:match="content">
    <div id="annotation-buttons">
      ${annotation_buttons}
    </div>
    <div>
      ${text_with_annotation}
    </div>
  </div>

  <xi:include href="layout.html" />
</html>
